.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;

}

.recommendations > div {
  flex: 1 0 33%;
}

h1 {
  font-family: 'Poor Story';
  font-size: 48px;
  font-weight: 900;
  filter: drop-shadow(4px 0px 4px rgba(0,0,0,0.25));
}

button {
  font-family: 'Poor Story';
  font-size: 36px;
  line-height: 45px;
  align: center;
  height: 100%;
  width: 125%;
  border-radius: 15px;
}
