<h1> Welcome to BooksRUs </h1>
<h1>Example List</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!books"><em>Loading...</em></p>


<div class="col-lg-4 book-group" *ngFor="let emotionRank of emotionRanking">
  <div class="emotion-ranked">
    {{emotionRank.emotion}}
    <div class="cover">
      <img style="width: 150px; height: 200px" [src]="emotionRank.pictureFilePath" />
    </div>
    <div class="title">{{emotionRank.title}}</div>
    <div class="author">{{emotionRank.author}}</div>
  </div>
</div>
