<div class="ratings-container">
  <ng-container *ngFor="let emotionSelection of emotionSelections">
    <input
      id="{{emotionSelection.emotion.emotionid}}"
      class="emotion-selection"
      value="{{emotionSelection.emotion.emotionid}}"
      type="checkbox"
      checked="{{emotionSelection.checked}}"
      (click)="handleSelect(emotionSelection)"
    />
    <label for="{{emotionSelection.emotion.emotionid}}">{{emotionSelection.emotion.emotion}}</label>
  </ng-container>
  <app-ratings [ratings]="ratings"></app-ratings>
</div>
