<div class="vote">
  <ng-container *ngIf="emotions">
    <div class="voting">
      <div class="instructions">Which emotions best represent this book?</div>
      <div class="emotions">
        <ng-container *ngFor="let emotion of emotions">
          <input
            id="{{emotion.emotionid}}"
            class="emotion-selection"
            value="{{emotion.emotionid}}"
            type="checkbox"
            (click)="selectEmotion(emotion)"
          />
          <label for="{{emotion.emotionid}}">{{emotion.emotion}}</label>
          <br/>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <div class="book-display">
    <ng-container *ngIf="book">
      <app-book [book]="book"></app-book>
    </ng-container>
    <div class=".buttons">
      <button class="next-book"
              (click)="nextBook(book)">
        Next
      </button>
      <button class="vote-button"
              (click)="submitVotes(); nextBook(book)">
        Submit
      </button>
      <a routerLink="/"><button style="color: black">Go Home</button></a>
    </div>
  </div>
</div>
