.votelibrary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

  .books > div {
    flex: 1 0 33%;
  }

h1 {
  font-family: 'Poor Story';
  font-size: 48px;
  font-weight: 900;
  filter: drop-shadow(4px 0px 4px rgba(0,0,0,0.25));
}

button {
  font-family: 'Poor Story';
  font-size: 24px;
  line-height: 30px;
  align: center;
  height: 100%;
  width: 150px;
  border-radius: 15px;
}

.search-library {
  /* search all titles/authors */
  width: 100%;
  font-family: Poor Story;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #E5E5E5;
  border-radius: 15px;
}
