  <div class="row">
    <div class="col-md-8">
      <input #box
             id="search-library"
             class="search-library"
             type="text"
             style="float: right;"
             placeholder="Search by Title or Author"
             (keyup)="updateSearch(box.value); searchBooks()"
             (blur)="updateSearch(box.value)" />
    </div>
    <div class="col-md-4">
      <a routerLink="/"><button style="color: black">Go Home</button></a>
    </div>
  </div> 
  <br /> 
  <div class="row">
    <div class="col-md-12">
      <div class="books">
        <div *ngFor="let b of books">
          <app-bookVote [book]="b"></app-bookVote>
        </div>
      </div>
    </div> 
  </div> 
